#main-content .entry-content h1,
#main-content .entry-content h2,
#main-content .entry-content h3,
#main-content .entry-content h4,
#main-content .entry-content h5,
#main-content .entry-content h6 {
  font-weight: bold !important;
}

.entry-content {
  overflow: hidden !important;
}

.entry-content p {
  color: #6B6B6B !important;
}

/* Utility Classes */

.text-purple {
  color: #651FFF !important;
}

.text-aquamarine {
  color: #64FFDA !important;
}

.text-white {
  color: #FFF !important;
}

.text-light-gray {
  color: #F8F8F8 !important;
}

.text-gray {
  color: #7C7C7C !important;
}

.text-dark-gray {
  color: #333 !important;
}

.text-black {
  color: #000 !important;
}

.bg-purple {
  background-color: #651FFF !important;
}

.bg-aquamarine {
  background-color: #64FFDA !important;
}

.bg-white {
  background-color: #FFF !important;
}

.bg-light-gray {
  background-color: #F8F8F8 !important;
}

.bg-gray {
  background-color: #7C7C7C !important;
}

.bg-dark-gray {
  background-color: #333 !important;
}

.bg-black {
  background-color: #000 !important;
}

.leading-none {
  line-height: 1 !important;
}

.leading-tight {
  line-height: 1.25 !important;
}

.leading-normal {
  line-height: 1.5 !important;
}

.leading-loose {
  line-height: 2 !important;
}

.text-3xs {
  font-size: .7em !important;
}

.text-2xs {
  font-size: .8em !important;
}

.text-xs {
  font-size: .9em !important;
}

.text-base {
  font-size: 1em !important;
}

.text-xl {
  font-size: 1.25em !important;
}

.text-2xl {
  font-size: 1.5em !important;
}

.text-3xl {
  font-size: 2em !important;
}

.text-4xl {
  font-size: 4.5em !important;
}

.font-normal {
  font-weight: 400 !important;
}

.font-bold {
  font-weight: 700 !important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-justify {
  text-align: justify !important;
}

@media only screen and (max-width: 980px) {

  .t\:text-3xs {
    font-size: .7em !important;
  }

  .t\:text-2xs {
    font-size: .8em !important;
  }

  .t\:text-xs {
    font-size: .9em !important;
  }

  .t\:text-base {
    font-size: 1em !important;
  }

  .t\:text-xl {
    font-size: 1.25em !important;
  }

  .t\:text-2xl {
    font-size: 1.5em !important;
  }

  .t\:text-3xl {
    font-size: 2em !important;
  }

  .t\:text-4xl {
    font-size: 4.5em !important;
  }

  .t\:font-normal {
    font-weight: 400 !important;
  }

  .t\:font-bold {
    font-weight: 700 !important;
  }

  .t\:text-left {
    text-align: left !important;
  }

  .t\:text-center {
    text-align: center !important;
  }

  .t\:text-right {
    text-align: right !important;
  }

  .t\:text-justify {
    text-align: justify !important;
  }

}

@media only screen and (max-width: 767px) {

  .p\:text-3xs {
    font-size: .7em !important;
  }

  .p\:text-2xs {
    font-size: .8em !important;
  }

  .p\:text-xs {
    font-size: .9em !important;
  }

  .p\:text-base {
    font-size: 1em !important;
  }

  .p\:text-xl {
    font-size: 1.25em !important;
  }

  .p\:text-2xl {
    font-size: 1.5em !important;
  }

  .p\:text-3xl {
    font-size: 2em !important;
  }

  .p\:text-4xl {
    font-size: 4.5em !important;
  }

  .p\:font-normal {
    font-weight: 400 !important;
  }

  .p\:font-bold {
    font-weight: 700 !important;
  }

  .p\:text-left {
    text-align: left !important;
  }

  .p\:text-center {
    text-align: center !important;
  }

  .p\:text-right {
    text-align: right !important;
  }

  .p\:text-justify {
    text-align: justify !important;
  }

}